# Nuxt 4 build outputs
.output
.nuxt
dist
dist-ssr

# Node dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
